<div class="outer">
	<div class="left">
		<div class="container">
			<h1>LISTS</h1>
			<div class="row">
				<form ng-submit="listMgr.addList(listMgr.newListName)">
				<input type="text" ng-model="listMgr.newListName" placeholder="add new list" />
					<button style="display:none;" type="submit">Add New List</button>
				</form>
			</div>
			<divider></divider>
			<a ng-repeat="list in listMgr.lists track by $index"
			   ui-sref="list.view({list:list.id})"
			   ng-class="{'row list-item': true, 'selected': listMgr.selectedList === list}"
			   ng-click="listMgr.selectList(list)"
			>
				<div ng-bind="list.name"></div>
				<ng-md-icon icon="{{listMgr.happyIcon}}" options='{"rotation":"none"}' ng-if="listMgr.selectedList === list"></ng-md-icon>
			</a>
		</div>
	</div>
	<div ui-view></div>
</div>
