<div class="right">
	<div class="container">
		<div class="row" ng-repeat="item in listViewCtrl.items track by $index">
			<span ng-click="listViewCtrl.toggleItem(item)" ng-class="{'completed': item.completed}" ng-bind="item.name"></span>
		</div>
		<form ng-submit="listViewCtrl.addItem(listViewCtrl.newItemName)">
			<input type="text" ng-model="listViewCtrl.newItemName" placeholder="add new item" />
			<ng-md-icon class="overlay-right" ng-click="listViewCtrl.addItem(listViewCtrl.newItemName)" icon="add" size="20"></ng-md-icon>
			<button style="display:none;" type="submit"></button>
		</form>
	</div>
</div>